@font-face {
    font-family: vazir;
    font-weight: normal;
    font-style: normal;
    src: url(./fonts/Vazir-Medium.eot) ;
    src: url(./fonts/Vazir-Medium.ttf);
    src: url(./fonts/Vazir-Medium.woff);
    src: url(./fonts/Vazir-Medium.woff2);
}
body{
    font-family: 'vazir';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*....top-menu-responsive....*/
.main-menu-responsiv-cont{
    display: none;
}
/*....top-menu....*/
.top-header{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 90%;
    padding-top: 40px;
}
.top-header-right-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-header-right-menu ul li{
    display: inline-block;
    list-style-type: none;
    margin: 10px;
}
.top-header-right-menu ul li a{
    text-decoration: none;
    color: #9ba1b1;
}
.top-header-right-menu span{ 
    background-color: #08c056;
    width: 42px;
    height: 42px;
    display: inline-block;
    border-radius: 100%;
    text-align: center;
    line-height: 45px;
    vertical-align: middle;
    box-shadow: 0 0 8px #08c056;
    margin: 10px;
}
.top-header-left-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-header-left-menu ul li{
    display: inline-block;
    list-style-type: none;
    margin: 10px;
}
.top-header-left-menu ul li a{
    text-decoration: none;
    color: #9ba1b1;
}
.top-header-left-menu .tel a{
    color: #5f6677;
    font-size: 15px;
    letter-spacing: .5px;
}
.top-header-left-menu .tel span{
    font-size: 13px;
    margin-right: 3px;
}
.top-header-brand{
    position: relative;
}
.top-header-brand::after{
    content: "";
    background-color: #08c056;
    position: absolute;
    bottom: 57px;
    left: -15px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    box-shadow: 0 0 8px #08c056;
}

/*....main-menu....*/

.main-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
}
.main-menu-container ul{
    position: relative;
}
.main-menu-container ul::after{
    content: "";
    position: absolute;
    background: #496ba9;
    left: -10px;
    right: -10px;
    height: 1px;
    bottom: 17px;
}
.main-menu ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0 25px 17px;
    margin-top: 70px;
}
.main-menu ul li a{
    text-decoration: none;
    color: #5f6677;
    font-size: 14px;
}
.main-menu ul li span{
    display: block;
}
.main-menu .main-menu-icon{
   margin-bottom: 13px;
}
.main-menu div{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-menu .alert-num{
    position: absolute;
    bottom: 32px;
    background-color: #08c056;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 5px;
    width: 35px;
    height: 17px;
    font-size: 11px;
    text-align: center;
    font-weight: 700;
    line-height: 15px;
}
.main-menu .main-page-li{
    position: relative;
    border-bottom: 20px solid #fff;
    border-left: 20px solid #fff; 
    border-right: 20px solid #fff;;
    z-index: 2;
}
.main-menu .main-page-li::after{
    content: "";
    background: url(./images/download.svg);
    position: absolute;
    z-index: 9999;
    width: 58px;
    height: 111px;
    top: -18px;
    left: -20px;
}
.main-menu .main-page-li::before{
    content: "";
    background: url(./images/download\ \(1\).svg);
    position: absolute;
    z-index: 9999;
    width: 58px;
    height: 111px;
    top: -18px;
    right: -20px;
}
.main-menu .main-page-li>a>div::before{
    content: "";
    position: absolute;
    height: 1px;
    background: #0cbb5b;
    top: -18px;
    left: 11px;
    right: 11px;
}
/*.main-menu nav{
    position: relative;
}
.main-menu nav::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 1px;
    background-color: #496ba9;
    background: -moz-linear-gradient(left,hsla(0,0%,100%,0) 0,#fff 100%);
    background: -webkit-linear-gradient(left,hsla(0,0%,100%,0),#fff);
    background: linear-gradient(90deg,hsla(0,0%,100%,0) 0,#fff);
    bottom: 17px;
    right: -97px;
    z-index: 10;
}
.main-menu nav::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 1px;
    background-color: #496ba9;
    background: -moz-linear-gradient(left,hsla(0,0%,100%,0) 0,#fff 100%);
    background: -webkit-linear-gradient(left,hsla(0,0%,100%,0),#fff);
    background: linear-gradient(90deg,hsla(0,0%,100%,0) 0,#fff);
    bottom: 11px;
    left: -10px;
    z-index: 10;
}*/

/*....section-one....*/

.section-one{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 100px;
}
.section-one-left .section-one-left-background{
    background: url(./images/section-one-slider-bg.png) no-repeat;
    width: 613px;
    height: 568px;
}
.section-one-left-titr{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20%;
}
.section-one-left-titr-first-child{
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 5px;
}
.section-one-left-titr-last-child{
    color: #a0a7b7;
}
.section-one-left-p{
    text-align: end ;
    line-height: 27.4px;
    margin-bottom: 30px;
    padding: 30px 90px;
}
.section-one-left-background button{
    font-size: 15px;
    color: #fefeff;
    background-color: #08c056;
    border: 1px solid #08c056;
    box-shadow: 0 0 15px #08c056;
    width: 200px;
    padding: 10px 0;
    font-weight: 800;
    text-align: center;
    margin: -50px 90px ;
    border-radius: 25px;
    cursor: pointer;
}
.section-one-left-background span{
    background-color: #08c056;
    box-shadow: 0 0 0 1px #08c056;
    width: 20px;
    cursor: pointer;
    display: inline-block;
    padding: 4px;
    border-radius: 40px ;
    margin: 70px 270px ;
}
.section-one-right-titr p{
   text-align: center;
   color: #a8b1c6;
    font-size: 16px;
    margin-bottom: 25px;
}
.section-one-right-titr p:last-of-type{
    text-align: center;
    color: #a8b1c6;
     font-size: 22px;
     margin-bottom: 25px;
 }
 .cont-form-right .form-right .field-text{
    background: url(./images/earth.PNG) no-repeat 20px ;
    width: 100%;
    height: 55px;
    border: none;
    padding: 0 60px;
 }
 .cont-form-right .form-right .field-sub{
    background: url(./images/search.PNG) no-repeat 24px 19px ;
    box-shadow: inset 0 5px 5px rgba(95,102,119,.16);
    border: none;
    position: absolute;
    width: 70px;
    height: 90%;
    bottom: 7px;
    right: -1px;
    border-radius: 40px;
    cursor: pointer;
 }
 .cont-form-right .form-right{
    background-color: #fff;
    overflow: hidden;
    border-radius: 40px;
 }
 .cont-form-right{
    position: relative;
 }
 .cont-form-right::before{
    content: " ";
    position: absolute;
    width: 100%;
    right: 0;
    top: 5px;
    height: 50px;
    background-image: linear-gradient(75deg, #08c056, #4d66ae);
    z-index: -1;
    filter: blur(14px);
    transform: scale(.93, .7);
 }
.section-one-right-robot{
    text-align: center;
    margin-top: 20%;
}
.section-one-right-robot p{
    color: #08c056 ;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 8px;
    margin-top: 8px;
}
.section-one-right-robot p:last-of-type{
    color: #9098ac;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.68px;
}

/* service-tap-responsiv */
.service-tap-responsiv{
    display: none;
}
/* end service-tap-responsiv */

/*  service-section  */


.service-section{
    position: relative;
}
.service-section::before{
    content: "";
    position: absolute;
    background: url(./images/icon-pattern-l.png) no-repeat;
    width: 313px;
    height: 619px;
    top: 60px;
}
.service-section::after{
    content: "";
    position: absolute;
    background: url(./images/icon-pattern-r.png) no-repeat;
    width: 313px;
    height: 619px;
    top: 60px;
    right: 1px;
}

.service-section-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 12%;

}
.service-section-bottom-right{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.service-section-bottom-right p{
    display: inline-block;
    color: #08c056;
    font-size: 14px;
    font-weight: 500;
}
.service-section-bottom-right::before{
    content: " ";
    position: absolute;
    background: url(./images/shadow-heading-service.png) 100% no-repeat;
    width: 832px;
    height: 123px;
    right: -161px;
    bottom: 3px;
    z-index: -1;
}
.service-section-bottom-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: relative;
}
.service-section-bottom-left::after{
    content: "";
    position: absolute;
    width: 75%;
    height: 2px;
    background-color: #e9ecf2;
    bottom: -5px;
    right: 0;
}

.service-section-bottom-left p{
    display: inline-block;
    color: #9198aa;
    font-size: 12px;
}

.service-tap{
    display: flex;
    justify-content: space-between;
    width: 88%;
    padding: 3% 0;
}

.service-tap-right{
    width: 130% ;
    height: 100%;
    cursor: pointer;
    padding-top: 6%;
    position: relative;
    z-index: 1;
}
.service-tap-left{
    position: relative;
}
.service-tap-right ul{
    list-style-type: none;
}
.service-tap-right ul div{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    gap: 5%;
    padding-right: 5%;
}
.service-tap-right ul li{
    border-top: 1px solid #dfe4f0 ;
    position: relative;
}
.service-tap-right ul li a{
   text-decoration: none;
   color: #5f6677;
   display: block;
   height: 100%;
   width: 100%;
   line-height: 65px;
   box-sizing: border-box;
   text-align: end;
   font-size: 15px;
}



.service-tap-right p{
    display: inline-block;
}


.service-tap-left-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.service-tap-left-heading button{
    height: 47px;
    padding: 0 30px;
    border-radius: 50px;
    background-color: #08c056;
    box-shadow: 0 0 15px #08c056;
    color: #fefeff;
    font-size: 14px;
    font-weight: 500;
    border: none;
}
.service-tap-left-heading h5{
    color: #4d66ae;
    font-size: 25px;
    font-weight: 500;
    text-align: end;
}
.service-tap-left-heading p{
    color: #7f8595;
    font-size: 16px;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: .64px;
    margin-bottom: 20px;
    text-align: end;
}
.service-tap-left-content p{
    direction: rtl;
    color: #5f6677;
    font-size: 14px;
    font-weight: 500;
    line-height: 34px;
    text-align: justify;
    margin: 0 20%;
    width: 70%;
    padding-top: 2%;
}

/*why-7host*/

.why-7host{
    background: url(./images/shadow-center.png) no-repeat ;
}
.why-7host div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
}
.why-7host h3{
    color: #4d66ae;
    font-size: 23px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -.43px;
}
.why-7host span{
    color: #8d92a0;
}

.why-7host-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    padding: 5% 3%;
}
.why-7host-items{
    text-align: center;
}
.why-7host-value{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    gap: 7%;
   position: relative;
   background-color: #fff;
    padding: 2%;
}
.why-7host-value::before{
    content: "";
    background-image: linear-gradient(0deg, #08c056 0, #4d66ae);
    position: absolute;
    right: -3px;
    height: 70%;
    width: 50%;
    z-index: -1;
    filter: blur(8px);
    opacity: .2;
}

.why-7host-value1{
    background: url(./images/download.png) no-repeat 50% 90%;
}
.why-7host-items{
    background: url(./images/download.png) no-repeat 50% 70%;
    width: 20%;
    position: relative;
    background-color: #fff;
    padding: 2%;
}
.why-7host-items::before{
        content: "";
        background-image: linear-gradient(0deg, #08c056 0, #4d66ae);
        position: absolute;
        right: -3px;
        height: 70%;
        width: 50%;
        z-index: -1;
        filter: blur(8px);
        opacity: .2;
}
.why-7host-items p{
    color: #08c056;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -.37px;
    margin-bottom: 5%;
}
.why-7host-value2 span{
    color: #9198aa;
    font-size: 13px;
    text-align: end;
    display: block;
    margin-right: 15px;
}
.why-7host-value2 p{
    color: #08c056;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -.37px;
    margin-bottom: 4px;
    text-align: center;
}
.why-7host-value1 p{
    color: #08c056;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -.37px;
    margin-bottom: 5%;
    text-align: center;
}

/*  last-section  */ 

.last-section-cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 12%;
    width: 100%;
    background-image: linear-gradient(0deg, #fff 0, #f6f8fb 43%, #f6f8fb);
}
.last-section1{
    display: grid;
    grid-template-rows: repeat(5 , auto);
    row-gap: 15%;
    width: 100%;
}
.last-section1-title p{
    color: #4d66ae;
    font-weight: 500;
    font-size: 15px;
}
.last-section1-number-info p:first-of-type{
    color: #4d66ae;
    font-size: 30px;
    letter-spacing: -.85px;
    font-family: Iran Sans Numeric, Tahoma, sans-serif;
    line-height: 26px;
}
.last-section1-number-info p:last-of-type{
    color: #6a7286;
    font-size: 12px;
}
.last-section1-number{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}
.last-section1-bottom p:first-of-type{
    color: #4d66ae;
}
.last-section1-bottom p:last-of-type{
    color: #6a7286;
}
.last-section1-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.last-section1-country{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.last-section13{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
}
.last-section13-brands{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}
.last-section13-brands::before{
    content: "";
    position: absolute;
    background: url(./images/dotted\ line.png) no-repeat;
    width: 18px;
    height: 365px;
    top: 50%;
    right: 35px;
    margin-top: -196px;
}
.last-section13-content-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.last-section13-content-title .name{
    color: #363d4e;
    font-weight: 500;
    font-size: 15px;
}
.last-section13-content-title .more{
    color: #9099a7;
    font-size: 11px;
    border-bottom: 2px solid #e2e7ee;
}
.last-section13-content-main p:first-of-type{
    font-size: 12px;
    line-height: 26px;
    text-align: end;
    margin-bottom: 20px;
}
.last-section13-content-main p:last-of-type{
    color: #bcc0cb;
    font-size: 11px;
    text-align: end;
}
.last-section13-content-bottom{
    color: #9099a7;
    font-size: 11px;
    border-bottom: 1px solid #e2e7ee;
    padding-bottom: 4px;
    width: 30%;
}

.customer-branding{
    background: url(./images/bg-last-section.png) center -50px no-repeat;
    min-height: 390px;
    position: relative;
}
.customer-branding-logo{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 30px;
    right: 0;
}
.customer-branding-items{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 3%;
   position: absolute;
   bottom: 18%;
   right: 0;
   width: 100%;
}


/*  footer  */

.footer-inner{
    background-color: #4d66ae;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 -6px 0 0 #a1aac7;
}
.footer-design{
    box-shadow: inset 0 5px 70px rgba(36,59,125,.75);
}
.footer{
    position: relative;
}
.footer::after{
    content: "";
    position: absolute;
    background: url(./images/download\ \(2\).svg) no-repeat 50% / 101%;
    width: 435px;
    height: 78px;
    top: -6px;
    left: 50%;
    margin-left: -217px;
    z-index: 1;
} 
.footer::before{
    content: "";
    position: absolute;
    background: url(./images/logo.png) center / 100% no-repeat ;
    width: 180px;
    height: 200px;
    z-index: 2;
    top: -13% ;
    left: 45%;
}
.footer-inner::after{
    content: "";
    position: absolute;
    width: 260px;
    height: 72px;
    box-shadow: 0 5px 70px rgba(36,59,125,.75);
    border-radius: 0 0 90px 90px;
    left: 50%;
    margin-left: -120px;
    top: 0;
}



.footer-cont{
    display: grid;
    grid-template-columns: auto auto 30% auto auto;
    column-gap: 10%;
    width: 80%;
    margin: 0 10%;
    padding-bottom: 30px;
}
.footer-nav-list ul li{
    list-style-type: none;
    text-align: end;
}
.footer-nav-list ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    opacity: .5;
    line-height: 30px;
  
}
.footer-nav-list .heading-footer{
    color: #fff;
    font-weight: 500;
    margin-bottom: 18px;
    text-align: end;
}
.footer-nav-list{
    padding-top: 60%;
}
.footer-about p{
    color: #fff;
    line-height: 30px;
    font-size: 13px;
    direction: rtl;
}
.footer-about a{
    color: rgb(202, 186, 202);
    font-size: 12px;
    text-decoration: none;
    display: flex; 
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}
.footer-about{
    text-align: justify;
    padding-top: 35%;
}
.footer-section2{
    padding-top: 20px;
}

.copyright-section{
    background: url(./images/copyright-shadow.png) top no-repeat #4d66ae;
    background-color:#4d66ae ;
    width: 100%;
    min-height: 100px;
    margin-bottom: -10px;
    padding: 50px 0;
}
.copyright-section-items{
  display: grid;
  grid-template-columns: repeat(2 , auto);
}
.copyright-section-text{
    margin-top: 15px;
    font-size: 12px;
    color: rgb(255 255 255 / .25);
}
.copyright-section-socials{
    margin-left: 20%;
}
.copyright-section-socials-items a{
    text-decoration: none;
    margin-right: 20px ;
}
.copyright-section-button {
    border-radius: 50px;
    padding: 15px 30px;
    margin: 0 10px;
    color: #4d66ae ;
    font-size: 15px;
    border: none;
}
.copyright-section-button-cont{
    margin-left: 35%;
}